@media only screen and (min-width: 426px) {
    #loginCard{
        width:75%;
    }
}

@media only screen and (min-width: 700px) {
    #loginCard{
        width:52%;
    }
}

@media only screen and (min-width: 1000px) {
    #loginCard{
        width:40%;
    }
}

@media only screen and (min-width: 1350px) {
    #loginCard{
        width:28%;
    }
}

@media only screen and (min-width: 2400px) {
    #loginCard{
        width:15%;
    }
}
