
@media only screen and (min-width: 100px) {
    #loginCard{
        width:100%;
    }
    #popUp{
        width:100%;
    }
}

@media only screen and (min-width: 340px) {
    #loginCard{
        width:380px;
    }
    #popUp{
        width:320px;
    }
}

