<nb-card id='loginCard' accent="primary">
  <nb-card-header>
    <span>INSTRUCTIONS FOR GOOGLE SIGN IN</span>
  </nb-card-header>
  <nb-card-body>
    <ul>
      <li>
        <nb-icon icon="arrow-right"></nb-icon>
        Click on the button below to continue to the Sign In page of the Google.
      </li>
      <li>
        <nb-icon icon="arrow-right"></nb-icon>
        Provide consent with your email and password to continue Signing-In.
      </li>
      <li>
        <nb-icon icon="arrow-right"></nb-icon>
        Check your publicly available Information afterwards.
      </li>
    </ul>
  </nb-card-body>
  <nb-card-footer>
    <button size="small" status="primary" nbButton outline (click)="login()" id='signInButton'>
      <nb-icon icon="google"></nb-icon>Sign In with Google
    </button>
  </nb-card-footer>
</nb-card>