@media only screen and (min-width: 660px) {
    #loginCard{
        width:70%;
    }
}

@media only screen and (min-width: 1024px) {
    #loginCard{
        width:47%;
    }
}

@media only screen and (min-width: 1400px) {
    #loginCard{
        width:40%;
    }
}

@media only screen and (min-width: 1680px) {
    #loginCard{
        width:30%;
    }
}

#signInButton{
    background-image: linear-gradient(to bottom right,#3e3ed3,rgb(209, 80, 80)); 
    color:white;
}